---
import { useEffect } from 'react';

useEffect(() => {
  const script = document.createElement('script');
  script.src = 'https://cdn.jsdelivr.net/gh/ncase/nutshell/nutshell.js';
  script.onload = () => {
    if (window.Nutshell) {
      window.Nutshell.init();
    }
  };
  document.body.appendChild(script);
}, []);
---

<div>
  <!-- Nutshell script has been loaded -->
</div>
