---
import { Markdown } from '@astrojs/markdown-remark';

const DefaultLayout = ({ children }) => {
  return (
    <div>
      <Markdown />
      {children}
    </div>
  );
};

export default DefaultLayout;
---
