name: Deploy

on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - .github/workflows/main.yml
      - package.json
      - bun.lockb
      - astro.config.mjs
      - src/**
      - public/**

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  codespell:
    uses: winstxnhdw/actions/.github/workflows/codespell.yml@main
    with:
      path: src/content/docs
      ignore_words_file: .codespellignore

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4

      - name: Install, build, and upload your site
        uses: withastro/action@v1
        with:
          node-version: latest

  deploy:
    needs: [build, codespell]
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
